<!--begin call-->
<section class="onboard_section call">
    <div class="container">
        <div class="row call__wrapper">
            <div class="col-md-6 col-lg-5 call__info call_info onboard_form">
                <div class="call_info__text">
                    <h1 class="title">Call settings</h1>
                    <p>Set up your calling wizzard, and get started.</p>
                    <form>
                        <h3 class="title">Verify your number</h3>
                        <div class="togo__additional">
                            <p>to start receiving calls from your leads</p>
                        </div>
                        <div class="call_info__number" id="call_number" style="display: block;">
                            <input type="tel" id="phone">
                            <input type="submit" value="Verify">
                            <div class="onboard_additional">
                                <p><a class="resend_code" data-related="call_code" href="#/">Resend Code</a> <span>|</span> <a class="verify_call" data-related="call_recall" href="#/">Verify via call instead</a></p>
                            </div>
                        </div>
                        <div class="call_info__number" id="call_code">
                            <input type="number">
                            <input type="submit" value="ENTER CODE">
                            <div class="onboard_additional">
                                <p><span>Enter your phone number and we’ll Call you.</span></p>
                            </div>
                        </div>
                        <div class="call_info__number" id="call_recall">
                            <input type="tel" id="recall">
                            <input type="submit" value="Call">
                            <div class="onboard_additional">
                                <p><span>Enter your phone number and we’ll Call you .</span></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 call__icon">
                <img src="img/img_login.png" alt="Image" />
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-6 col-lg-6 welcome__steps">
                <p>Step 3 of 3</p>
            </div>
            <div class="col-6 col-md-6 col-lg-6 welcome__navigation">
                <ul>
                    <li>
                        <a href="more.html"><< Back</a>
                    </li>
                    <li>
                        <a href="togo.html">Next >></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--end call-->