<!--begin signup-->
<section class="onboard_section signup">
    <div class="signup__img show_desctop">
        <img src="img/img_signup.png" alt="Image" />
    </div>
    <div class="container">
        <div class="row signup__wrapper">
            <div class="col-md-6 col-lg-6 signup__text">
                <p>Personalization is key to running a successful email outreach
                    campaign. OutreachPlus combines personalization
                    and automation to deliver the best results in the industry.</p>
               <p><b> Neil Patel | Neilpatel.com</b></p>
            </div>
            <div class="col-md-6 col-lg-5 onboard_form">
                <h1 class="title">Free 14 days trial.</h1>
                <p>Full access. No Credit card required.</p>
                <form>
                    <input type="text" placeholder="Full Name">
                    <input type="email" placeholder="Email address">
                    <div class="onboard_additional">
                        <label for="terms">
                            <input name="terms" id="terms" type="checkbox">
                            I accept the <a href="#/"> Terms and Conditions</a>
                        </label>
                    </div>
                    <input type="submit" value="Start your free trial">
                </form>
                <p>Already have an account. <a href="login.html">Login Here.</a></p>
            </div>
        </div>
        <div class="signup__img show_mobile">
            <img src="img/img_signup.png" alt="Image" />
        </div>
    </div>
</section>
<!--end signup-->