<!--begin togo-->
<section class="togo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 togo__text">
                <img src="img/icon_togo.svg" alt="Icon" />
                <h1 class="title">You are good to go</h1>
                <p>It’s time to grow with OutreachPlus</p>
                <a class="btn_togo" href="#/">Go to your Dashboard</a>
            </div>
            <div class="col-lg-12 togo__additional">
                <p>Alternatively, <a href="#/">invite teammates</a>, <a href="#/">set up a prompt</a>, or <a
                        href="#/">choose a plan.</a></p>
            </div>
        </div>
    </div>
</section>
<!--end togo-->